.menu {
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    margin: auto auto;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    justify-content: right;
    width: fit-content;
    margin-right: 2rem;
}

.menu a {
    color: black;
    padding: 10px;
    transition: 0.1s;
    text-align: center;
}


.menu a:hover {
    border-bottom: 4px solid #98FF98;
}



.dropbtn {
    padding: 10px;
    transition: 0.1s;
    margin-right: 50px;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

#drop-cont {
    width: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 7px;
}


.dropdown-content a {
    padding: 12px 0;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-top: 4px solid #98FF98;
    border-left: 4px solid #98FF98;
}

.dropbtn-dicas {
    padding: 10px;
    transition: 0.1s;
    margin-right: 50px;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

.dropdown-dicas {
    position: relative;
    display: inline-block;
}

.dropdown-dicas-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 12px;
}


.dropdown-dicas-content a {
    padding: 12px 0;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 6px;
}

.dropdown-dicas:hover .dropdown-dicas-content {
    display: block;
}

.dropdown-dicas:hover .dropbtn-dicas {
    border-top: 4px solid #98FF98;
    border-left: 4px solid #98FF98;
}

.dropbtn-saiba-mais {
    padding: 10px;
    transition: 0.1s;
    margin-right: 50px;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

.dropdown-saiba-mais {
    position: relative;
    display: inline-block;
}

.dropdown-saiba-mais-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 12px;
    text-align: center;
}


.dropdown-saiba-mais-content a {
    color: black;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 6px;
}

.dropdown-saiba-mais:hover .dropdown-saiba-mais-content {
    display: block;
}

.dropdown-saiba-mais:hover .dropbtn-saiba-mais {
    border-top: 4px solid #98FF98;
    border-left: 4px solid #98FF98;
}

.outside-page {
    max-width: 30px;
    position: absolute;
    bottom: -3.85px;
    right: 20px;
    transition: 0.3s;
    opacity: 0%;
}

.dropdown-saiba-mais:hover .outside-page {
    opacity: 100%;
}